<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spring Boot 综合学习</title>
    <meta name="description" content="这是一个 table 页面">
    <meta name="keywords" content="table">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" th:href="@{/assets/i/favicon.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/assets/i/app-icon72x72@2x.png}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/admin.css}">
</head>
<!--<body style="margin-left: 70px;margin-right: 70px">-->
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-inverse admin-header" th:include="header :: headFragment">头部</header>

<div class="am-cf admin-main">
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas" th:include="menu :: menuFragment">侧边栏</div>

    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户列表</strong> / <small>Table</small></div>
            </div>

            <hr>

            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <button type="button" class="am-btn am-btn-default"><a th:href="@{/user/add}"><span class="am-icon-plus"></span> 新增</a></button>
                            <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>-->
                            <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>-->
                            <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>-->
                        </div>
                    </div>
                </div>
                <!--<div class="am-u-sm-12 am-u-md-3">-->
                    <!--<div class="am-form-group">-->
                        <!--<select data-am-selected="{btnSize: 'sm'}">-->
                            <!--<option value="option1">所有类别</option>-->
                            <!--<option value="option2">IT业界</option>-->
                            <!--<option value="option3">数码产品</option>-->
                            <!--<option value="option3">笔记本电脑</option>-->
                            <!--<option value="option3">平板电脑</option>-->
                            <!--<option value="option3">只能手机</option>-->
                            <!--<option value="option3">超极本</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" class="am-form-field">
                        <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
                    </div>
                </div>
            </div>

            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                            <tr>
                                <th class="table-check"><input type="checkbox" /></th>
                                <th class="table-id">序号</th>
                                <th class="table-title">昵称</th>
                                <th class="table-type">电话</th>
                                <th class="table-author am-hide-sm-only">地址</th>
                                <th class="table-date am-hide-sm-only">Email</th>
                                <th class="table-title">备注</th>
                                <th class="table-set">操作</th>
                            </tr>
                            </thead>
                            <tbody th:each="user : ${userList}">
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td th:text="${userStat.count}">1</td>
                                <td th:text="${user.nick}"></td>
                                <td th:text="${user.phone}">default</td>
                                <td class="am-hide-sm-only" th:text="${user.address}">测试1号</td>
                                <td th:text="${user.email}"></td>
                                <td><a href="#" th:text="${user.note}">Business management</a></td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span><a th:href="@{'/user/toUpdate?id='+${user.id}+'&curPage='+${curPage}}"> 编辑</a></button>
                                            <!--<button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>-->
                                            <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span><a onclick="return confirm('确定要删除吗？');" th:href="@{'/user/delete?id='+${user.id}}"> 删除</a></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <div class="am-cf">
                             <a href="#" th:text="${totalRows}">0</a> 条记录，共 <a href="#" th:text="${totalPages}">0</a> 页。
                            <div class="am-fr">
                                <ul class="am-pagination">
                                    <span th:if="${curPage <= 1}">
                                        首页
                                        上一页
                                    </span>
                                    <span th:if="${curPage > 1}">
                                        <a th:href="@{/user/list}">首页</a>
                                        <a th:href="@{'/user/list?curPage='+${curPage-1}}">上一页</a>
                                    </span>
                                    <li><a href="#" th:text="${curPage}">1</a></li>
                                    <span th:if="${curPage == totalPages}">
                                        下一页
                                        末页
                                    </span>
                                    <span th:if="${curPage < totalPages}">
                                        <a th:href="@{'/user/list?curPage='+${curPage+1}}">下一页</a>
                                        <a th:href="@{'/user/list?curPage='+${totalPages}}">末页</a>
                                    </span>
                                </ul>

                                <!--<ul class="am-pagination">
                                    <li class="am-disabled"><a href="#">«</a></li>
                                    <li class="am-active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>-->
                            </div>
                        </div>
                        <hr />
                        <!--<p>注：.....</p>-->
                    </form>
                </div>

            </div>
        </div>
        <footer class="admin-content-footer">
            <hr>
            <p class="am-padding-left">© 2018 AllMobilize, Inc. Licensed under MIT license.</p>
        </footer>
    </div>
    <!-- content end -->
</div>

<footer class="admin-content-footer" th:include="footer :: footFragment">脚部</footer>
</body>
</html>
